 <!DOCTYPE html>
     <html lang="en">
         <head>
              <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
              
             <meta charset="utf-8">
             <title>
                 {{title}}
             </title>
             <link rel="stylesheet" href="/stylesheets/style.css">
         </head>
         <body>
             {{{body}}}
         </body>
     </html>
