<h1>{{title}}</h1>
<div class="formdiv divcenter">
  <form action="/test" method="post">
    <label for="user">Username</label>
    <input type="text" id="user" name="username" placeholder="Enter username...">
    <label for="password">Password</label>
    <input type="password" id="pass" name="password" placeholder="Enter password...">
    <input type="submit" class="button buttonlogin" value="Log In"/>
    <p>Or</p>
  </form>
  <button class="button buttonregister" onclick="location.href='https://www.google.com'">Sign Up</button>
</div>



 