
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:	#4c68d7;
}

a {
  color: #00B7FF;
}
p{
    text-align: center;
}
input[type=text], select {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.formdiv {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 30%;
    align-self: center;
}

.divcenter {
    margin: auto;
    border: 1px solid grey;
    padding: 10px;
}

.button {
    background-color:white;  /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
 
  button:focus {outline:0;}
 

 .buttonlogin {background-color: #4CAF50;/* green*/ 
   display:block;
   margin:0 auto;
   margin-top: 6px;
   } 

.buttonlogin:hover {
    background-color:#98FB98;
}

.buttonregister {background-color: #f44336;/* Red */ 
   display: inline-block;
   } 

.buttonfacebook {background-color: #3b5998;/* bluefacbook */ 
   display: inline-block;
   padding: 15px 25px;
   }

.buttonfacebook:hover {
    background-color:#8b9dc3;
}

.buttongoogle {background-color: #d34836;/* redgoogle */ 
   display: inline-block;
   }

.buttongoogle:hover {
    background-color:#FF6347;
}
.buttonregister:hover {
    background-color:#FF6347;
}

h1
{
 color: whitesmoke;
 font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
 font-size: 65px;
 margin-top: 4px;
 text-align: center;
}

.errors {
  background: #e79892;
  padding: 5px;
  margin-bottom: 10px;
  min-width: 200px;
  display: inline-block;
  border: 1px solid #e74c3c;
  text-align: center;
  margin-block-end: 200px;
}

.errors ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.success {
  background: #80cca0;
  padding: 5px;
}

